<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=724770587622152&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59019706-1', 'auto');
ga('send', 'pageview');


</script> 

<div id="ngdialog1" class="ngdialog-theme-plain ngdialog-theme-custom "  >
<div class="ngdialog-overlay"  ></div><div class="ngdialog-content" >
			<div class="ngdialog-message"  >
			
				
			<div class ="mt"  ng-show=" {{place.show}}">
				<h4 style="text-decoration: underline;
				">Highlights of {{place.name}}</h4>
				<ul class="mt">
				
					<li class="pld"><label class="p">Description:</label><p1>    {{place.place1}} </p1></li>
					<li style="list-style:square; font-family: sans-serif;"><label>Travel:</label>          {{place.place2}}</li>
					<li style="list-style:square; font-family: sans-serif;"><label>Season Available</label> {{place.place3}}</li>
					<li style="list-style:square; font-family: sans-serif;"><label>Pricing</label>{{place.place4}}</li>
					<li style="list-style:square; font-family: sans-serif;"><label>Highlights</label>{{place.place5}}</li>
				</ul>
			
			</div>
			
			<div class ="mt" ng-show="{{place.showDesc}}">
			<h4 style="text-decoration: underline;">{{place.name}}</h4>
				<ul class="mt">
					<li style="list-style:square;font-family: sans-serif; ">  {{place.place1}}</li>
					<li style="list-style:square; font-family: sans-serif;"> {{place.place2}}</li>
					<li style="list-style:square; font-family: sans-serif;"> {{place.place3}}</li>
					<li style="list-style:square; font-family: sans-serif;">{{place.place4}}</li>
						</ul>
						</div>
				<div class ="mt" ng-show="{{place.showDescMan}}" >
				<h4 style="text-decoration: underline;">{{place.name}}</h4>
				<ul class="mt">
					<li style="list-style:square;font-family: sans-serif; ">  {{place.place1}}</li>
					<li style="list-style:square; font-family: sans-serif;"> {{place.place2}}</li>
					<li style="list-style:square; font-family: sans-serif;"> {{place.place3}}</li>
					<li style="list-style:square; font-family: sans-serif;">{{place.place4}}</li>
				<li style="list-style:square; font-family: sans-serif;">{{place.place5}} </li>
					<li style="list-style:square; font-family: sans-serif; ">{{place.place6}} </li>
					<li style="list-style:square; font-family: sans-serif;">{{place.place7}} </li>
					<li style="list-style:square; font-family: sans-serif;">{{place.place8}} </li>
					<li style="list-style:square; font-family: sans-serif;">{{place.place9}} </li>
			
					</ul>
					</div>
					
				
			
		</div>
			<div class="mt" style="color: green;font-style: italic;">Interested in planning your adventure trip with us?
			<ul class="mt" style="color:  rgb(121, 47, 15);">	
					<li style="list-style:none; font-family: sans-serif;"> Call or WhatsApp us at +91-8105363899 <br> Mail at contact@gimmewings.com <br></li>
					<li style="list-style:none;">We are still working on beta version of website to provide you Super Cool Interface ,Full Info,
							Lively Community, Local Experts and of course Online Booking! <br> Meanwhile contact us by email or phone.</li>
		
				
	
				</ul>
							
						
			
			
			<div class="ngdialog-buttons mt">
			<div class="fb-like" data-href="https://www.facebook.com/gimmeWings" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="width: 50px;background:white; "></div>
			</div>
			
	  </div>
		</div>
	</div>
	
	
	
		
		
               