
     <div class="container">
                <div id="main">
                    <h1 class="page-title">Fly with us in Comfort!</h1>
                    <h2 class="page-description col-md-6 no-float no-padding">We're bringing you a modern, comfortable and connected flight experience.</h2>
                    <div class="search-box-wrapper style2">
                        <div class="search-box">
                            <ul class="search-tabs clearfix">
                                <li class="active"><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-hotel"></i><span>Trekking</span></a></li>
                               
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#hotels-tab">HOTELS</a></li>
                                   
                                    <li><a href="#advanced-search-tab">Advanced Search</a></li>
                                </ul>
                            </div>
                            
                            <div class="search-tab-content">
                                <div class="tab-pane fade active in" id="hotels-tab">
                                    <form action="hotel-list-view.html" method="post">
                                        <h4 class="title">Where do you want to go?</h4>
                                        <div class="row">
                                            <div class="form-group col-sm-6 col-md-3">
                                                <input type="text" class="input-text full-width"   ng-model="pId" placeholder="Rome, Paris, New York..." />
                                            </div>
                                            <div class="form-group col-sm-6 col-md-4">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" ng-model=""  class="input-text full-width" placeholder="Check In" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="Check Out" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <div class="row">
                                                   
                                                    <div class="col-xs-4">
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">1 Guest</option>
                                                                <option value="2">2 Guests</option>
                                                              
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <button type="submit" class="full-width"  ng-click="customNavigate(pId)">SEARCH NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             
                                
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                   
            <div class="featured image-box">
                <div class="details pull-left">
                    <h3>Tropical Beach,<br/>Hotel and Resorts</h3>
                    <h5>THAILAND</h5>
                </div>
                <figure class="pull-left">
                    <a class="badge-container" href="#">
                        <span class="badge-content right-side">From $200</span>
                        <img width="64" height="64" alt="" src="http://placehold.it/64x64" class="">
                    </a>
                </figure>
            </div>
   
        
        <footer id="footer">
            <div class="bottom">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2014 Travelo</p>
                    </div>
                </div>
            </div>
        </footer>
    
   

