
<head>
    <!-- Page Title -->
   
    <style>
        section#content {  min-height: 1000px; padding: 0; position: relative; overflow: hidden; }
        #main { padding-top: 200px; }
        .page-title, .page-description { color: #fff; }
        .page-title { font-size: 4.1667em; font-weight: bold; }
        .page-description { font-size: 2.5em; margin-bottom: 50px; }
        .featured { position: absolute; right: 50px; bottom: 50px; z-index: 9; margin-bottom: 0;  text-align: right; }
        .featured figure a { border: 2px solid #fff; }
        .featured .details { margin-right: 10px; }
        .featured .details > * { color: #fff; line-height: 1.25em; margin: 0; font-weight: bold; text-shadow: 2px -2px rgba(0, 0, 0, 0.2); }
    </style>
</head>
<body>
     <div class="container">
           
                <div id="main">
                    <h1>Fly with us in Comfort!</h1>
                    
                    <div class="search-box-wrapper style2">
                        <div class="search-box">
                            <ul class="search-tabs clearfix">
                                <li class="active"><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-hotel"></i><span>Trekking</span></a></li>
                               
                            </ul>
                            <div class="visible-mobile">
                                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                    <li class="active"><a href="#hotels-tab">HOTELS</a></li>
                                   
                                    <li><a href="#advanced-search-tab">Advanced Search</a></li>
                                </ul>
                            </div>
                            
                            <div class="search-tab-content">
                                <div class="tab-pane fade active in" id="hotels-tab">
                                    <form >
                                        <h4 class="title">Where do you want to go?</h4>
                                        <div class="row">
                                            <div class="form-group col-sm-6 col-md-3">
                                                <input type="text" class="input-text full-width"   ng-model="pId" placeholder="Rome, Paris, New York..." />
                                            </div>
                                            <div class="form-group col-sm-6 col-md-4">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text"  class="input-text full-width" placeholder="Check In" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="Check Out" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <div class="row">
                                                   
                                                    <div class="col-xs-4">
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">1 Guest</option>
                                                                <option value="2">2 Guests</option>
                                                              
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <button  class="full-width"  ng-click="customNavigate(pId)">SEARCH NOW</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             
                                
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                   
          
    
    
  
</body>


