<div style="width: 100%">
    <div id="page-wrapper">
<div id="header" ng-include="'partials/header.html'"></div>
    
            <div class="col-sm-8 col-md-12">
             <div class="sort-by-section  clearfix">
          
           
                            </div>
                            <div class="col-sm-8 col-md-2" ></div>
                            </div>
                            
        </div>
        <section id="content" style="width: 100%">
            <div class="container" style="width: 100%;">
                <div id="main">
                    <div class="row">
                         <div class="col-sm-4 col-md-3"   >
                            <h4 class="search-results-title" style="margin-left: 15px"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>
                            	<div class="span5">
		
			</div>
			
			<div class="toggle-container filters-container" >
			   <div class="panel style2 arrow-right">
                                    <div align="left" style="padding-left: 10px;">
                                        <label style="font-size: medium;">Places</label> 
                                    </div>
                                     <div class="panel-content">
                                    <ul class= "filters-option"  ng-repeat="placeCount in placeGroup">
                                                
       
            <li>
             <input type="checkbox"  class="checkbox1" ng-model="usePlaces[placeCount]" />
          <span style="font-size: medium;">  {{placeCount}}
           ({{(filteredPlaces | filter:placeCount).length}})
            </span>
            
      </li>
      </ul>
        </div>
       </div>
       
          <div class="panel style2 arrow-right">
                                    <div align="left" style="padding-left: 10px;">
                                        <label style="font-size: medium;">Days</label> 
                                    </div>
                                     <div class="panel-content">
                                    <ul class= "filters-option"  ng-repeat="days in daysGroup">
                                                
       
            <li>
           
            <input type="checkbox"  class="checkbox1" ng-model="useDays[days]"/>
             <label class="checkbox1 label1">{{days}} 
            <span>({{(filteredPlaces | filter:days).length}})</span>
            </label>
      </li>
      </ul>
        </div>
       </div>
                        
              </div>
    
      
                        
                        </div>
                        
                        <div class="col-sm-8 col-md-9">
                           
                            <div class="hotel-list">
                            
                                <div class="row image-box hotel listing-style1">
                                   <div ng-repeat="place in filteredPlaces">
                                  
                                    <div class="col-sm-6 col-md-4"  class="trip-panel" style="max-height: 480px	">
                                        <article class="box">
                                            <figure>
                                                <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery">
                                                	<img ng-src="img/{{place.activityPicUrlId}}" style="width: 100%;max-height:250px" class="img-responsive">
                                                </a>
                                            </figure>
                                             <div class="details">
                                                <span class="price1"><small>price starting from</small>{{place.priceRange}}</span>
                                                <h4 class="box-title">{{place.placeId}}<small>{{place.activityCode}}</small></h4>
                                          
                                            
                                                <div class="feedback">
                                                    <div  class="five-stars-container" title="4 stars"><rating ng-model="rate" max="5" readonly="false"  on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></span></div>
                                                    <span class="review">270 reviews</span>
                                                </div>
                                                
                                                <div class="feedback">
                       {{place.activityComments  }}                     
				<small> <cite>Source Title</cite></small>
			
                                                  
                                                </div>
                                                 <div class="feedback ">
                                                    <div class="date col-xs-6">
                                                        <i ></i>
                                                        <div>
                                                            <span class="skin-color">Difficulty</span><br />{{place.difficultyLevel}}
                                                        </div>
                                                    </div>
                                                    <div class="departure col-xs-6">
                                                        <i ></i>
                                                        <div>
                                                            <span class="skin-color">Base</span><br />{{place.placeId}}
                                                        </div>
                                                    </div>
                                                </div>
                                                         
                                                                  <div class="action">
<!--                                      	                             <a class="button btn-small"  ui-sref=".detail({placeName: place.name})">SELECT</a> -->
                                                    <a class="button btn-small" ng-click="getDetails(place)">SELECT</a>
                                                    <a class="button btn-small yellow popup-map" href="#" data-box="48.856614, 2.352222">VIEW ON MAP</a>
                                                </div>
                                                
                                            </div>
                                             </article>
                                            </div>
                                            </div>
                                       
                                    </div>
                                    
                                    
                                  </div>
                                </div>
                            </div>
                            <a href="#" class="uppercase full-width button btn-large">load more listing</a>
                        </div>
                    </div>
         
        </section>
        
        <footer id="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h2>Discover</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="#">Safety</a></li>
                                <li class="col-xs-6"><a href="#">About</a></li>
                                <li class="col-xs-6"><a href="#">Travelo Picks</a></li>
                                <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
                                <li class="active col-xs-6"><a href="#">Mobile</a></li>
                                <li class="col-xs-6"><a href="#">Press Releases</a></li>
                                <li class="col-xs-6"><a href="#">Why Host</a></li>
                                <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                                <li class="col-xs-6"><a href="#">Social Connect</a></li>
                                <li class="col-xs-6"><a href="#">Help Topics</a></li>
                                <li class="col-xs-6"><a href="#">Site Map</a></li>
                                <li class="col-xs-6"><a href="#">Policies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>Travel News</h2>
                            <ul class="travel-news">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                        <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                        <span class="date">25 Sep, 2013</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                        <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                        <span class="date">24 Sep, 2013</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>Mailing List</h2>
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <br />
                            <div class="icon-check">
                                <input type="text" class="input-text full-width" placeholder="your email" />
                            </div>
                            <br />
                            <span>We respect your privacy</span>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>About Travelo</h2>
                            <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque.</p>
                            <br />
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br />
                                <a href="#" class="contact-email">help@travelo.com</a>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2014 Travelo</p>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>



