 <div class="span2">
 Search: <input ng-model="pId" placeholder="Enter Phone Name" >

 <button ng-click="customNavigate(pId)">Show Phone By Name</button>
 <button ng-click="customNavigate2(pId)">Show Phone By Id</button>

  <a href="#/phones/{{pId}}" class="thumb">linkt</a>
  
  <button ng-click="clear()">Clear</button>
 </div>
 <div class="phone-images" ng-show="myBoolean" id="test"> 
 <h1>{{phone.name}}</h1>
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone.images"
       ng-class="{active: mainImageUrl==img}">
</div>

