
<div class="container-full" >
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" >Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" >
       
        <slider images="images"/>
        <!-- Controls -->
      <div class="search">
        <div class="container">
       
            <div class="col-md-12">	
              <div class="form-section">
             
                <div class="row">
                
                    <form role="form" ng-submit="customNavigate(selectedPerson.originalObject.surname)" >
                      <div class="padded-row">
                                      <ul class="list-inline" style="border: medium;color: activeborder;color:yellow;font: bold;font-size: medium;font:fantasy;text-shadow: aqua;margin-left:30px">
  <li><a tabindex="-1" href=""  ng-click="chngeSearch(place)">Search</a></li>
  <li><a tabindex="-1" href="#">Anotheraction</a></li>
  <li><a tabindex="-1" href="#">Something-else-here</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Separated-link</a></li>
</ul>
                      <div class="col-md-10" style="padding-left:2%">
                     
           
          <div angucomplete-alt id="ex2"  placeholder="{{placeholder}}" pause="300" selected-object="selectedPerson" local-data="place" search-fields="firstName,surname" 
          title-field="firstName,surname" description-field="twitter"  minlength="1" input-class="form-control form-control-small" match-class="highlight">
          </div>
        
        <div class="result">
          <div class="" ng-show="selectedPerson">
            You selected <span class="bold-span">{{selectedPerson.originalObject.firstName}} {{selectedPerson.originalObject.surname}}</span>
          </div>
        </div>
             
                    </div>
                      <div class="col-md-2">
                        <input  type="submit" class="btn btn-default btn-primary">
                      </div>
                      
                </div>
                    </form>
                    
              </div>
            </div>
         </div>
        </div>
      </div>
    </header>

    <div class="row" style="padding-top:3px">
      <div ng-repeat="place in places">
           <div class="col-md-2 col-sm-4 col-xs-6" style=" padding-right: 0px; padding-left: 0px;" >
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="{{place.pic}}" alt="" style="padding: 3px;border-bottom-style: solid;">
                </a>
            </div>
            </div>
     </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v3.2.0</strong>
                    </li>
                    <li>jQuery v1.11.0</li>
                    <li>Font Awesome v4.1.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

</div>





