<div>
<div ng-show="indext == 1">
<div class="sliderr"   >
	<div class="slidee" ng-repeat="image in images" ng-show="image.visible" active="image.active">
		<img ng-src="img/{{image.src}}" style="max-height:320px;min-height:220px;width: 100%;" class="img-responsive">
	</div>
<!-- 	<div class="arrows" ng-show="false">
		<a href="#" ng-click="prev()"><img src="img/left-arrow.png"/></a> <a href="#" ng-click="next()"><img src="img/right-arrow.png"/></a>
	</div> -->
</div>
 
	<ul class="list-inline" style="border: medium; margin:10px;" >
            <li ng-repeat="image1 in imagest" ng-class="{'active':isActive($index)}">
                <img src="img/{{image1.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" style="max-width:150px;max-height:150px;" />
            </li>
        </ul>

    </div>
    <div class="sliderr"  ng-show="indext != 1" >
	<div class="slidee" ng-repeat="image in images" ng-show="image.visible" active="image.active">
		<img ng-src="img/{{image.src}}" style="max-height:400px;min-height:220px;width: 100%;" class="img-responsive">
		</a>
	</div>
	<!-- <div class="arrows">
		<a href="#" ng-click="prev()"><img src="img/left-arrow.png"/></a> <a href="#" ng-click="next()"><img src="img/right-arrow.png"/></a>
	</div> -->
</div>
    
    </div>